<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secret Admin Page</title>
    </head>
    <body>

        <h1>Registered Users - for Admin Eyes Only</h1>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Address </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${admin.empty}">
                    <td colspan="2"> No Registrations </td>
                </tr>
                <tr th:each="visitor : ${admin}">
                    <td><span th:utext="${visitor.name}"> Title </span></td>
                    <td><span th:utext="${visitor.address}"> Author </span></td>
                </tr>
            </tbody>
        </table>
        
        <p></p>
        <li><a href="landing.html">Go to Landing page</a></li>
        <li><a href="/logout">Logout</a></li>
    </body>
</html>
