<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secret Admin Page</title>
    </head>
    <body>

        <h1>You can do Admin tricks here</h1>
        
        <h1>Registered Users</h1>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Address </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${admin.empty}">
                    <td colspan="2"> No Registrations </td>
                </tr>
                <tr th:each="visitor : ${admin}">
                    <td><span th:utext="${visitor.name}"> Title </span></td>
                    <td><span th:utext="${visitor.address}"> Author </span></td>
                </tr>
            </tbody>
        </table>
        
        <ul>
            <li th:each="visitor : ${admin}" th:text="${visitor.name} + ${visitor.address}">user name</li>
        </ul>

        <form action="#" th:action="@{/password}" method="POST">
            <p><label for="passwd">Password</label>: <input type="text" name="passwd" id="passwd"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
        <li><a href="landing.html">Go to Landing page</a></li>
        <li><a href="/logout">Logout</a></li>
    </body>
</html>
