<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PWD Update</title>
    </head>
    <body>

        <h1>Give new password here</h1>

        <form action="#" th:action="@{/password}" method="POST">
            <!--<p><label for="oldpass">Old password</label>: <input type="password" name="oldpass" id="oldpass"/></p>-->
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
        <li> <a href="landing.html">Go to Landing page</a> </li>
        <li><a href="/logout">Logout</a></li>
    </body>
</html>
